{% extends 'base.html' %}
{% load bootstrap3 %}


{% block content %} 

<div class="container">
  <div class="page-header">
    <h1>Demo <small>Ajax and some metrics</small></h1>
  </div>

  <div class="row">
  
  <div class="col-lg-3 col-md-3 col-sm-6">
    <div style="background-color: #555555; color: #FFF; " id="divr1c1" >
      <h5>Line </h5> 
      <div  id="chartr1c1" style="height: 100px;"></div>
      <h5 class="text-right animated fadeIn" id="desr1c1">&nbsp </h5>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6">
    <div style="background-color: #555555; color: #FFF;" id="divr1c2">
        <h5> Bar Chanrt</h5>
        <div id="chartr1c2"  style="height: 100px;"></div>
	<h5 class="text-right animated fadeIn" id="desr1c2">&nbsp </h5>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6">
    <div style="background-color: #555555; color: #FFF;">
        <h5> Name 3</h5>
        <h2> Description </h2>
        <div>some thing here</div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6">
    <div style="background-color: #555555; color: #FFF;">
        <h5> Name 4</h5>
        <h2> Description </h2>
        <div>some thing here</div>
    </div>
  </div>
  </div>

  <div class="row"><a  href="javascript: rand('r2c1')">
  <div class="col-lg-3 col-md-3">
    <div style="background-color: #555555; color: #FFF;">
        <h5> CPU Usage</h5>
        <h2 id="desr2c1"> Description </h2>
	<div class="progress">
	  <div id="barr2c1" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
	    <span id="textr2c1">40% Complete (success)</span>
	  </div>
	</div>
    </div>
  </div></a>
  <div class="col-lg-3 col-md-3"><a  href="javascript: rand('r2c2')">
    <div style="background-color: #555555; color: #FFF;">
        <h5> RAM Usage</h5>
        <h2 id="desr2c2"> Description </h2>
	<div class="progress">
	  <div id="barr2c2" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
	    <span><p id="textr2c2">20% Complete</p></span>
	  </div>
	</div>
    </div>
  </div></a>
  <div class="col-lg-3 col-md-3"><a  href="javascript: rand('r2c3')">
    <div style="background-color: #555555; color: #FFF;">
        <h5> DISK Usage</h5>
        <h2 id="desr2c3"> Description </h2>
	<div class="progress">
	  <div id="barr2c3" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
	    <span id="textr2c3">60% Complete (warning)</span>
	  </div>
	</div>
    </div>
  </div></a>
  <div class="col-lg-3 col-md-3"><a  href="javascript: rand('r2c4')">
    <div style="background-color: #555555; color: #FFF;">
        <h5> NETWORK Usage</h5>
        <h2 id="desr2c4"> Description </h2>
	<div class="progress">
	  <div id="barr2c4" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
	    <span id="textr2c4">80% Complete (danger)</span>
	  </div>
	</div>
    </div>
  </div></a>

  <!-- END row-->
  </div>

<!-- END container-->
</div>
<!-- single line chart -->
<script>
  function rand(barID){
    var num = Math.floor((Math.random() * 100) + 1);
    if(num > 75){ 
 	document.getElementById("bar"+barID).className="progress-bar progress-bar-danger";       
    }else if (num < 75 && num > 50){
	document.getElementById("bar"+barID).className="progress-bar progress-bar-warning";    
    }else if (num < 50 && num > 25){
        document.getElementById("bar"+barID).className="progress-bar progress-bar-info";
    }else{
	 document.getElementById("bar"+barID).className="progress-bar progress-bar-success";
    }



    $("#bar"+barID).css("width",num+"%");
    document.getElementById("text"+barID).innerHTML=num+"%";
    document.getElementById("des"+barID).innerHTML=num+"%";
  }

  function gogo(){
    sleep();
    rand('r2c1');
    rand('r2c2');
    rand('r2c3');
    rand('r2c4');
  }

  function sleep(){
      setTimeout("gogo()",10 *1000);
  }


  (function(){
    sleep();   
  })();
</script>
<!-- Donut chart with ajax -->
<script>
  var chart =  Morris.Donut({
        element: 'morris-donut-chart',
        data: [{ label: "Download Sales", value: 12 },
            { label: "In-Store Sales", value: 30 },
            { label: "Mail-Order Sales", value: 20 } ],
        resize: true,
        colors: ['#1e90ff','#87d6c6', '#54cdb4','#1ab394','#3cb371','#2e8b57','#3cb371','#90ee90','#6495ed'],
  });

  $(function() {
    $.ajax({
      dataType:"json",
      data:{format:'json'},
      url: "/demo/pttDount/", // This is the URL to the API
	success:function(res){
          chart.setData(res);
	}
    })
  });





</script>

<!-- single line chart -->
<script>
 Morris.Line({
  resize: true,
  element: 'chartr1c1',
  data: [
    { year: '2008', value: 20 ,label:"aaa"},
    { year: '2009', value: 10 ,label:"bbb"},
    { year: '2010', value: 5 ,label:"ccc"},
    { year: '2011', value: 5 ,label:"ddd"},
    { year: '2012', value: 20 ,label:"eee"}
  ],
  xkey: 'year',
  ykeys: ['value'],
  labels: ['Value'],
  lineColors: ['#54cdb4','#1ab394'],
  gridTextSize:8,
  lineWidth:3,
  stacked: true,
  pointSize:3,
  grid:false,
  axes:false,
  hoverCallback: function(index, options, content) {
    var data = options.data[index];
    document.getElementById("desr1c1").innerHTML= data.year + ': ' + data.value +'%';
    $(".morris-hover").html('<div>Custom label: ' + data.label + '</div>').css(display='block');   
  }
});

Morris.Bar({
  element: 'chartr1c2',
  resize: true,
  data: [
    { y: '2006', a: 100, b: 90 },
    { y: '2007', a: 75,  b: 65 },
    { y: '2008', a: 50,  b: 40 },
    { y: '2009', a: 75,  b: 65 },
    { y: '2010', a: 50,  b: 40 },
    { y: '2011', a: 75,  b: 65 },
    { y: '2012', a: 100, b: 90 }
  ],
  xkey: 'y',
  ykeys: ['a', 'b'],
  barColors: ['#54cdb4','#1ab394'],
  hoverCallback: function(index, options, content) {
    var data = options.data[index];
    document.getElementById("desr1c2").innerHTML= "&nbsp";
    document.getElementById("desr1c2").innerHTML= data.y + '=> ' + data.a +' : '+data.b;
    console.log('aaa');
  },
  labels: ['Series A', 'Series B'],
  gridTextSize:8,
  grid:false,
  axes:false,
});
</script>

<script>
function noteAnimat(targetID,inOrOut){
  if(inOrOut == 0 ){
     $("#"+targetID).removeClass('fadeIn');
     $("#"+targetID).addClass('fadeOut');
  }else if(inOrOut == 1){
     $("#"+targetID).removeClass('fadeOut');
     $("#"+targetID).addClass('fadeIn');
  }
}

$(function() {
    // Set IDLE  timer
    $( document ).idleTimer( 5000 );
    $("#chartr1c1").idleTimer( 3000 );
    $("#chartr1c2").idleTimer( 3000 );
});

$(function() {
    $("#chartr1c1").on( "idle.idleTimer", function(event, elem, obj){     	     noteAnimat("desr1c1",0);    });
    $("#chartr1c1").on("active.idleTimer",function(event, elem, obj, triggerevent){  noteAnimat("desr1c1",1);    });

    $("#chartr1c2").on( "idle.idleTimer", function(event, elem, obj){                noteAnimat("desr1c2",0);    });
    $("#chartr1c2").on("active.idleTimer",function(event, elem, obj, triggerevent){  noteAnimat("desr1c2",1);    });




});
</script>
{% endblock %}

