{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content %}

<div class="jumbotron" style="background:url('/media/bg/bg1.JPG') center center no-repeat  ;background-size:250% auto ;min-height:500px"> 
  <div class="container text-center">
      <div class="col-xs-12">
        <h1><strong  style="color: rgba(9, 132, 255, 0.7)">Thank you<strong></h1>
        <p>We will never reply to you</p>
        <p><a class="btn btn-primary btn-lg" href="/" role="button" style="background: rgba(0%,10%,20%,0.6)">Back</a></p>
      </div>
  </div>
</div>

{% endblock %}
