<html ng-app>

	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
		<title>
			{% block title %} TryIt {% endblock %}
		</title>
		<script src="/static/script/angular/angular.js"></script>
		<script src="/static/script/angular/angular.min.js"></script>
<!--
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
-->
		{% block head %} {% endblock %}
	</head>
	<body {% block body %} {% endblock %}>
		{% block content %}{% endblock %}
		{% block extra_javascript %}{% endblock extra_javascript %}
	</body>
</html>
	{% block foot %} {% endblock %}
