{% extends "templates/base.html" %}

{% block head %}  <link rel=StyleSheet href="/scripts/main/main.css" TYPE="text/css"> {% endblock %}

{% block body %}  {% endblock %}

{% block content %}
<div class="container">
	<form action="/main/root/" method="post" id="loginform" accept-charset="utf-8">{% csrf_token %}
		<table border="0" style="float:right;margin-top:195px;margin-right:330px;">
			<tr>
				<td align="right">
					<label for="username">Username:</label>
				</td>
				<td align="left">
					<input id="username" type="text" name="username" maxlength="10">
				</td>
			</tr>
			<tr>
				<td align="right">
					<label for="password">Password:</label>
				</td>
				<td align="left">
					<input type="password" name="password" id="password" maxlength="30">
				</td>
			</tr>
			<tr>
				<td colspan="2" align="right">
					<input type="submit" value="submit" onclick="">
				</td>
			</tr>
		</table>
	</form>		
</div>	
{% endblock %}